# VeChainKit Configuration
NEXT_PUBLIC_NETWORK_TYPE=test
NEXT_PUBLIC_DELEGATOR_URL=https://sponsor-testnet.vechain.energy/by/90
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=your_wallet_connect_project_id_here

# Mixpanel (optional)
NEXT_PUBLIC_MIXPANEL_TOKEN=your_mixpanel_token_here
